<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

	<bean id="cng" class="com.nt.beans.CngEngine"/>
	<bean id="die" class="com.nt.beans.DieselEngine"/>
	<bean id="pet" class="com.nt.beans.PetrolEngine"/>
	<bean id="vec" class="com.nt.beans.Vechile">
		<property name="engine" ref="cng"/>
	</bean>
	<bean id="bpp" class="com.nt.bpp.MyBeanPostProcessor"/>
</beans>
