<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
	<bean id="st" class="com.nt.beans.StudentInfo">
		<constructor-arg value="wasim" type="java.lang.String"/>
		<constructor-arg value="80" type="float"/>
		<constructor-arg value="101" type="int"/>
	</bean>

</beans>
