spring:
  profiles:
    active: dev
---
spring:
  datasource:
    driver-class-name: oracle.jdbc.driver.OracleDriver
    password: tiger
    url: jdbc:oracle:thin:@localhost:1521:xe
    username: system
  profiles:
    active: prod
    
---
spring:
  datasource:
    driver-class-name: org.apache.commons.dbcp2.BasicDataSource
    password: tiger
    url: jdbc:oracle:thin:@localhost:1521:xe
    username: system
  profiles:
    active: dev
